.txtgrey {
	color: #5D6D7E;
}
.txtheader{
	color: #5D6D7E;
	text-shadow: 2px 2px #D5D8DC;
	
}

body {
    background-color: #F8F9F9;
    color: #5D6D7E  ;
}

#tablewrap {
    border-collapse:separate;
    border: solid #D5DBDB     1px;
    border-radius:6px;
    -moz-border-radius:6px;
    box-shadow: 5px 5px 3px #888888;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left:100px;
}

.container {
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	border-style: solid ;
    border-color: #E5E8E8;
    border-width: 1px;
    box-shadow: 3px 3px 3px #888888;
    background-color:#FDFEFE;
}